.section {
    display: flex;
    margin-top: 20px;

    @media (max-width: 1024px) {
        flex-direction: column;
        margin-bottom: 370px;
        align-items: center;
    }

    @media (max-width: 895px) {
        margin-bottom: 300px;
    }

    @media (max-width: 768px) {
        margin-bottom: 280px;
    }

    @media (max-width: 635px) {
        margin-bottom: 170px;
    }

    @media (max-width: 425px) {
        margin-bottom: 130px;
    }

    @media (max-width: 375px) {
        margin-bottom: 70px;
    }

    .title {
        flex: 1 1 45%;
        display: flex;
        flex-direction: column;

        @media (max-width: 1024px) {
            text-align: center;
            align-items: center;
        }

        .mainTitle {
            margin-top: 70px;
            margin-bottom: 80px;

            @media (max-width: 1272px) {
                margin-top: 30px;
                margin-bottom: 60px;
            }

            @media (max-width: 768px) {
                margin-top: 20px;
                margin-bottom: 30px;
            }

            span {
                color: red;
            }
        }

        .image {
            cursor: pointer;

            @media (max-width: 425px) {
                width: 200px;
                height: 30px;
            }
        }
    }

    .picture {
        margin-left: -200px;
        flex: 60%;
        position: relative;

        @media (max-width: 1216px) {
            margin-left: -180px;
        }

        @media (max-width: 1024px) {
            width: 80%;
            margin-top: 30px;
        }

        &Main {
            position: absolute;
            right: -90px;
        }

        &Bars {
            position: absolute;
            width: clamp(20%, 26.5%, 40%); 
            top: clamp(30px, calc(8vw + 30px), 14vw);
            right: clamp(0px, calc(4vw + 10px), 30px);

            @media (max-width: 1024px) {
                top: clamp(30px, calc(9vw + 30px), 14vw);
            }

            @media (max-width: 862px) {
                right: clamp(0px, calc(4vw + 30px), 0px);
            }

            @media (max-width: 664px) {
                top: clamp(30px, calc(7vw + 30px), 14vw);
                right: -20px;
            }

            @media (max-width: 425px) {
                top: clamp(30px, calc(4vw + 30px), 14vw);
                right: -50px;
            }
        }

       .blur1 {
            position: absolute;
            top: clamp(-100px, -10vw, -50px);
            left: clamp(10px, 10vw, 170px);
            width: clamp(250px, 40vw, 509px); 
            height: clamp(250px, 36vw, 463px);
            background-color: #B9C7EB80; 
            border-radius: 50%;
            opacity: 0.7; 
            filter: blur(35px); 

            @media (max-width: 425px) {
                width: clamp(150px, 40vw, 509px); 
                height: clamp(150px, 36vw, 463px);
            }
        }

        .blur2 {
            position: absolute;
            right: clamp(-90px, -10vw, 0px); 
            top: clamp(-50px, -5vw, 0px); 
            width: clamp(250px, 40vw, 509px); 
            height: clamp(250px, 36vw, 463px); 
            background-color: #DEB9EB;
            border-top-left-radius: 180%;
            opacity: 0.3;
            filter: blur(35px); 

            @media (max-width: 425px) {
                width: clamp(150px, 40vw, 509px); 
                height: clamp(150px, 36vw, 463px);
                right: -90px; 
            }
        }
    }
}



