.section {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 150px 0;

    @media (max-width: 1024px) {
        flex-direction: column-reverse;
        padding: 80px 0;
    }

    @media (max-width: 768px) {
        padding: 50px 0;
    }

    .image {
        flex: 55%;
        position: relative;

        @media (max-width: 1024px) {
            align-self: center;
            padding-top: 50px;
        }

        .blur {
            width: 100%;
            height: 100%; 
            position: absolute;
            top: clamp(0px, 5vw, 50px); 
            left: clamp(-10px, -8vw, -200px); 
            z-index: 1;
            background: var(--blur1);
            border-radius: 50%;
            opacity: 0.2; 
            filter: blur(35px); 

            //  @media (max-width: 1168px) {
            //     top: 30px;
            // }

            // @media (max-width: 1024px) {
            //     width: 100%;
            //     top: clamp(250px, 20vh, 400px);
            // }

            // @media (max-width: 425px) {
            //     bottom: 200px;
            //     width: 100%;
            //     height: 30%;
            // }
        }

        .picture {
            position: relative;
            z-index: 100;
            margin-left: 40px;
            margin-right: -92px;
        }
    }

    .description {
        text-align: right;
        flex: 45%;

        .title {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                border-radius: 50px;
                width: 150px;
                height: 4px;
                background-color: #5856D6;
            }
        }
    }
}

