@import url(../assets/styles/variables.css);
@import url(../assets/styles/resets.css);

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 90px;
}

@media (max-width: 1024px) {
  .container  {
    padding: 0 40px;
  }
}

@media (max-width: 535px) {
  .container {
    padding: 0 20px;
  }
}